<header class="header-jobs-info">
  <h3>Informações do JOB</h3>
</header>
<section class="section-jobs-info">
  <div class="section-jobs-info__container">
    <div class="section-jobs-info__container__content">
      <h4>Status:</h4>
      <app-status [status]="jobsInfo.status"></app-status>
    </div>
    <div class="section-jobs-info__container__content">
      <h5>Última execução:</h5>
      <span>{{ jobsInfo.lastRun | date:"dd/MM/yyyy HH:mm"}}</span>
    </div>
  </div>

  <div class="section-jobs-info__table">
    <app-jobs-table [dataTable]="jobsInfo.dataTable"></app-jobs-table>
  </div>
</section>
