<header>
  <h1>Usuários</h1>
  <div class="menu">
    <h3>Cadastro dos usuários</h3>
    <button
      class="btn"
      (click)="handleOpenModal({ id: '', email: '', displayName: '' })"
    >
      Adicionar
    </button>
  </div>
</header>
<section>
  <app-users-table
    *ngIf="users$ | async as users; else loading"
    [users]="users"
    (editUser)="handleOpenModal($event)"
    (removeUser)="handleDelete($event)"
  ></app-users-table>
  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
 </section>
