<header class="header-admin">
  <h1>Usuários</h1>
</header>

<section class="section-admin-menu">
  <h3>Cadastro dos usuários</h3>
  <button
    class="btn"
    (click)="handleOpenModal({ id: '', email: '', userName: '', password: ''})"
  >
    Adicionar
  </button>
</section>

<section class="section-admin-table">
  <app-users-table
    *ngIf="users$ | async as users; else loading"
    [dataTable]="users"
    (edit)="handleOpenModal($event)"
    (remove)="handleDelete($event)"
  ></app-users-table>
  <ng-template #loading>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
