<header class="header-jobs-info">
  <h3>Configurações do job</h3>
  <button class="btn">Executar</button>
</header>
<section class="section-jobs-info" *ngIf="jobsData.runtime; else jobsError">
  <div class="section-jobs-info__icon">
    <mat-icon (click)="handleJobsInfo()">settings</mat-icon>
  </div>
  <div class="section-jobs-info__container">
    <div class="section-jobs-info__container__content">
      <h3>Intervalo de execução:</h3>
      <span>{{ jobsData.runtime }} min</span>
    </div>
    <div class="section-jobs-info__container__content">
      <h3>Ultima execução:</h3>
      <span>{{ jobsData.lastRun }}</span>
    </div>
  </div>
</section>

<ng-template #jobsError>
  <section class="section-jobs-info">
    <div class="section-jobs-info__icon">
      <mat-icon (click)="handleJobsInfo()">settings</mat-icon>
    </div>
    <div class="section-jobs-info__container">
      <div class="section-jobs-info__container__content">
        <h3>Intervalo de execução:</h3>
        <span class="error">error ao carregar</span>
      </div>
      <div class="section-jobs-info__container__content">
        <h3>Ultima execução:</h3>
        <span class="error">erro ao carregar</span>
      </div>
    </div>
  </section>
</ng-template>
