<header class="header-modal">
  <h3>Formulario de Usuário</h3>
</header>
<section class="section-modal">
  <form [formGroup]="form">
    <div class="form-control">
      <label for="email">User e-mail</label>
      <div class="form-control__input">
        <input
          type="email"
          id="email"
          name="email"
          autocomplete="off"
          formControlName="email"
        />
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.invalid">
        {{ getErrorMessage("email") }}
      </mat-error>
    </div>

    <div class="form-control">
      <label for="userName">Nome do usuário</label>
      <div class="form-control__input">
        <input
          type="text"
          id="userName"
          name="userName"
          autocomplete="off"
          formControlName="userName"
        />
        <mat-icon>person</mat-icon>
      </div>
      <mat-error
        *ngIf="
          form.get('userName')?.dirty && form.get('userName')?.invalid
        "
      >
        {{ getErrorMessage("userName") }}
      </mat-error>
    </div>

    <div class="form-control">
      <label for="password">Senha do usuário</label>
      <div class="form-control__input">
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="off"
          formControlName="password"
        />
        <mat-icon>lock</mat-icon>
      </div>
      <mat-error
        *ngIf="
          form.get('password')?.dirty && form.get('password')?.invalid
        "
      >
        {{ getErrorMessage("password") }}
      </mat-error>
    </div>
  </form>
</section>
<footer class="footer-modal">
  <button class="btn" (click)="handleCancel()">Cancelar</button>
  <button class="btn" (click)="handleSave()" [disabled]="form.invalid">
    Salvar
  </button>
</footer>
