<mat-table [dataSource]="dataTable">
  <ng-container matColumnDef="ixcSubject">
    <mat-header-cell *matHeaderCellDef>Assunto (IXC)</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.ixcSubject }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="indecxAction">
    <mat-header-cell *matHeaderCellDef>Id Ação (IndeCX)</mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{ data.indecxAction }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">Ações</mat-header-cell>
    <mat-cell *matCellDef="let data" class="action-column">
      <button
        color="warn"
        aria-label="Remover um usuário"
        (click)="handleRemove(data)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
