mat-header-row {
  background-color: var(--primary-color-500);
}

mat-header-cell {
  color: var(--white-color);
}

mat-row {
  background-color: var(--primary-color-100);
}

mat-row:nth-child(even) {
  background-color: var(--primary-color-200);
}

mat-row:hover mat-cell{
  color: var(--black-color)
}

mat-cell {
  color: var(--white-color);
}

.action-column {
  flex: 0 0 200px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}