<header class="header-admin">
  <h1>Configurações</h1>
</header>

<section class="section-jobs-and-status-info">
  <app-jobs-info
    (jobsInfo)="handleJobsInfoModal()"
    *ngIf="jobsInfo$ | async as jobsInfo; else loadingJobsInfo"
    [jobsData]="jobsInfo"
  ></app-jobs-info>
  <ng-template #loadingJobsInfo>
    <div class="loading loading-jobs-and-status-info">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <app-status-info
    *ngIf="statusInfo$ | async as statusInfo; else loadingStatusInfo"
    [statusData]="statusInfo"
  ></app-status-info>
  <ng-template #loadingStatusInfo>
    <div class="loading loading-jobs-and-status-info">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>

<section class="section-admin-menu">
  <h3>Cadastro dos assuntos</h3>
  <button
    class="btn"
    (click)="handleMatterModal()"
  >
    Adicionar
  </button>
</section>

<section class="section-admin-table">
  <app-matters-table
    *ngIf="matters$ | async as matters; else loadingMatters"
    [dataTable]="matters"
    (remove)="handleDelete($event)"
  ></app-matters-table>
  <ng-template #loadingMatters>
    <div class="loading loading-matters">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
