.section-configuration-and-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.loading-status {
  height: 140px;
}

.loading-matters {
  height: 40vh;
}