<header class="header-status">
  <h3>Status dos sistemas</h3>
</header>
<section
  class="section-status"
  *ngIf="status.job !== undefined; else statusError"
>
  <div class="section-status__container">
    <h2>Job</h2>
    <div class="section-status__container__status">
      <span class="dot" [ngClass]="status.job ? 'active' : 'inative'"></span
      >{{ status.job ? "Ativo" : "Inativo" }}
    </div>
  </div>
  <div class="section-status__container">
    <h2>IXC</h2>
    <div class="section-status__container__status">
      <span class="dot" [ngClass]="status.ixc ? 'active' : 'inative'"></span
      >{{ status.ixc ? "Ativo" : "Inativo" }}
    </div>
  </div>
  <div class="section-status__container">
    <h2>IndeCX</h2>
    <div class="section-status__container__status">
      <span class="dot" [ngClass]="status.indeCx ? 'active' : 'inative'"></span
      >{{ status.indeCx ? "Ativo" : "Inativo" }}
    </div>
  </div>
</section>

<ng-template #statusError>
  <section class="section-status">
    <div class="section-status__container">
      <h2>Job</h2>
      <span class="error">erro ao carregar</span>
    </div>
    <div class="section-status__container">
      <h2>IXC</h2>
      <span class="error">erro ao carregar</span>
    </div>
    <div class="section-status__container">
      <h2>IndeCX</h2>
      <span class="error">erro ao carregar</span>
    </div>
  </section>
</ng-template>
