.header-status-info {
  padding-bottom: 60px;
}

.section-status-info {
  width: 300px;

  &__container {
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    &__status {
      width: 80px;
    }
  }
}
