<nav>
  <ul>
    <li routerLinkActive="active-link">
      <a routerLink="/admin/dashboard"><mat-icon>dashboard</mat-icon></a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/admin/users"><mat-icon>supervisor_account</mat-icon></a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/admin/password"><mat-icon>lock</mat-icon></a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/admin/settings"><mat-icon>settings</mat-icon></a>
    </li>
    <li>
      <a routerLink="/">
        <mat-icon>logout</mat-icon>
      </a>
    </li>
  </ul>
</nav>
