<header class="header-modal">
  <h3>Formulario de Assuntos</h3>
</header>
<section class="section-modal">
  <form [formGroup]="form">
    <div class="form-control">
      <label for="email">Id ação(IndeCX)</label>
      <div class="form-control__input">
        <input
          id="indecxAction"
          name="indecxAction"
          autocomplete="off"
          formControlName="indecxAction"
           />
        <mat-icon>key</mat-icon>
      </div>
      <mat-error
        *ngIf="form.get('indecxAction')?.dirty && form.get('indecxAction')?.invalid"
      >
        {{ getErrorMessage("indecxAction") }}
      </mat-error>
    </div>
    <div class="form-control">
      <label for="email">Assunto</label>
      <div class="form-control__input">
        <input
          type="text"
          id="ixcSubject"
          name="ixcSubject"
          autocomplete="off"
          formControlName="ixcSubject"
        />
        <mat-icon>notes</mat-icon>
      </div>
      <mat-error
        *ngIf="form.get('ixcSubject')?.dirty && form.get('ixcSubject')?.invalid"
      >
        {{ getErrorMessage("ixcSubject") }}
      </mat-error>
    </div>
  </form>
</section>
<footer class="footer-modal">
  <button class="btn" (click)="handleCancel()">Cancelar</button>
  <button class="btn" (click)="handleSave()" [disabled]="form.invalid">
    Salvar
  </button>
</footer>
