<header class="header-modal">
  <h3>Formulario de Assuntos</h3>
</header>
<section class="section-modal">
  <form [formGroup]="form">
    <div class="form-control">
      <label for="email">Id ação(IndeCX)</label>
      <div class="form-control__input">
        <select
          id="matterId"
          name="matterId"
          autocomplete="off"
          formControlName="matterId"
        >
          <option *ngFor="let indeCX of data" [ngValue]="indeCX.name">
            {{ indeCX.name }}
          </option>
        </select>
        <mat-icon>key</mat-icon>
      </div>
      <mat-error
        *ngIf="form.get('matterId')?.dirty && form.get('matterId')?.invalid"
      >
        {{ getErrorMessage("matterId") }}
      </mat-error>
    </div>
    <div class="form-control">
      <label for="email">Assunto</label>
      <div class="form-control__input">
        <input
          type="text"
          id="matter"
          name="matter"
          autocomplete="off"
          formControlName="matter"
        />
        <mat-icon>notes</mat-icon>
      </div>
      <mat-error
        *ngIf="form.get('matter')?.dirty && form.get('matter')?.invalid"
      >
        {{ getErrorMessage("matter") }}
      </mat-error>
    </div>
  </form>
</section>
<footer class="footer-modal">
  <button class="btn" (click)="handleCancel()">Cancelar</button>
  <button class="btn" (click)="handleSave()" [disabled]="form.invalid">
    Salvar
  </button>
</footer>
