// -------------------------------- APP palete colors ---------------------------------

:root {
  --primary-color-100: #a47bb9;
  --primary-color-200: #684c77;
  --primary-color-300: #503b5b;
  --primary-color-400: #2e1d37;
  --primary-color-500: #1e1623;

  --white-color: #ffffff;
  --blace-color: #000000;
}