<h3>Ultimas execuções</h3>
<mat-table [dataSource]="dataTable">
  <ng-container matColumnDef="createAt">
    <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.createAt | date:"dd/MM/yyyy HH:mm" }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="subject">
    <mat-header-cell *matHeaderCellDef>Assunto</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.subject }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <mat-header-cell *matHeaderCellDef>Usuário</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.customerName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="researchId">
    <mat-header-cell *matHeaderCellDef>ID IndeCX</mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{ data.researchId }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isManual">
    <mat-header-cell *matHeaderCellDef>Manual?</mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{ data.isManual ? 'Sim' : 'Não' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef>Dispardo por</mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{ data.userName }}
    </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
