<header class="header-modal">
  <h3></h3>
</header>
<section class="section-modal">
  <form [formGroup]="form">
    <div class="form-control">
      <label for="oldPassword">Senha atual</label>
      <div class="form-control__input">
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          autocomplete="off"
          formControlName="oldPassword"
        />
        <mat-icon>key</mat-icon>
      </div>
      <mat-error
        *ngIf="
          form.get('oldPassword')?.dirty && form.get('oldPassword')?.invalid
        "
      >
        {{ getErrorMessage("oldPassword") }}
      </mat-error>
    </div>
    <div formGroupName="passwordGroup">
      <div class="form-control">
        <label for="newPassword">Nova senha</label>
        <div class="form-control__input">
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
            formControlName="password"
          />
          <mat-icon>lock</mat-icon>
        </div>
        <mat-error
          *ngIf="
            form.get('passwordGroup.password')?.dirty &&
            form.get('passwordGroup.password')?.invalid
          "
        >
          {{ getErrorMessage("passwordGroup.password") }}
        </mat-error>
      </div>

      <div class="form-control">
        <label for="password">Confirme sua nova senha</label>
        <div class="form-control__input">
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            autocomplete="off"
            formControlName="confirmPassword"
          />
          <mat-icon>lock</mat-icon>
        </div>
        <mat-error *ngIf="form.get('passwordGroup')?.invalid">
          {{ getErrorMessage("passwordGroup") }}
        </mat-error>
      </div>
    </div>
  </form>
</section>
<footer class="footer-modal">
  <button class="btn" (click)="handleSave()" [disabled]="form.invalid">
    Salvar
  </button>
</footer>
