<header class="header-jobs">
  <h3>Configurações do job</h3>
  <button class="btn">Executar</button>
</header>
<section class="section-jobs">
  <div class="section-jobs__icon">
    <mat-icon>settings</mat-icon>
  </div>
  <div class="section-jobs__container">
    <div class="section-jobs__container__content">
      <h3>Intervalo de execução:</h3><span>60 min</span>
    </div>
    <div class="section-jobs__container__content">
      <h3>Ultima execução:</h3><span>25/04/2023 09:26:33</span>
    </div>
  </div>
</section>
