<header class="header-admin">
  <h1>Dashboard</h1>
</header>

<section class="section-admin-jobs-info">
  <app-jobs-info
    *ngIf="jobsInfo$ | async as jobsInfo; else loadingJobsInfo"
    [jobsInfo]="jobsInfo"
  ></app-jobs-info>
  <ng-template #loadingJobsInfo>
    <div class="loading loading-jobs-info">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>

<section class="section-admin-table">
  <app-runtime-table
    *ngIf="runtime$ | async as runtime; else loadingRuntime"
    [dataTable]="runtime"
  ></app-runtime-table>
  <ng-template #loadingRuntime>
    <div class="loading loading-runtime">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
