.section-ixc-cx-info {
  background-color: var(--primary-color-200);
  border-radius: 15px;
  color: var(--white-color);
  height: 290px;
  max-width: 340px;
  padding: 30px 10px;
  width: 300px;

  &__title {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    h2 {
      font-size: 2rem;
      margin-right: 20px;
    }
  }

  &__container {
    &__content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;

      h4, span {
        font-size: .8rem;
      }
    }
  }
}
