/* You can add global styles to this file, and also import other style files */

@import 'buttons';
@import 'inputs';
@import 'modals';
@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-color-400);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--white-color);
  font-weight: 300;
}

.loading {
  align-items: center;
  background-color: var(--primary-color-100);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%; 
}


// --------------------------- CSS to global custom Material -----------------------------

mat-error {
  font-size: 0.8rem;
}

mat-progress-spinner circle, mat-spinner circle {
  stroke: var(--white-color);
}