<mat-table [dataSource]="dataTable">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Data de execução</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef>Horário de execução</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.time }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Qtd. Usr. Env.</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.amount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="isManual">
    <mat-header-cell *matHeaderCellDef>Manual?</mat-header-cell>
    <mat-cell *matCellDef="let data">
      {{ data.isManual ? 'Sim' : 'Não' }}
    </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
